MONGODB_URI=mongodb://127.0.0.1/payloadcms-from-scratch-demo-db
PAYLOAD_SECRET=SECRET-HERE #Required. This is a secure string that will be used to authenticate with Payload. It can be random but should be at least 14 characters and be very difficult to guess.
# More info about Payload secret here: https://payloadcms.com/docs/production/deployment#security
# and here: https://payloadcms.com/docs/getting-started/installation#:~:text=customize%20these%20paths.-,secret,32%20characters.%20This%20final%20value%20is%20what%20Payload%20uses%20for%20encryption.,-mongoURL